<div> 
    {% assign studies = site.data.case-studies %}
    {% for study in studies %}
        <h2 id="{{study.title}}"> {{study.title}} </h2>
        <p> 
            {{study.description}}
            <br>
            <br>
            <a href="{{study.link}}" target="_blank"> {{study.link_text}}</a>
            <br>
            <center><img src="{{study.image}}" alt="{{study.image}}" width="300" height="300"></center>
            {% if study.contents %}
                <h5> Contents: </h5>
                {% for item in study.contents %}
                    <li> {{ item }} </li>
                {% endfor %}
            {% endif %}
            
        </p>
        <br>
        {% for tag in study.tags %}
            {% include tag.html tag=tag %}
        {% endfor %}
    {% endfor %}
</div>